---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap",
        "base",
        "layout",
        "syntax-highlighting"
;


/**
 * Space
 *
 * p/m = padding/margin
 * a/t/r/b/l/h/v = all/top/right/bottom/left/horizontal/vertical
 * n/t/s/m/l/h = none/tiny/small/medium/large/huge
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Space
 */
.ptn, .pvn, .pan { padding-top: 0px !important; }
.ptt, .pvt, .pat { padding-top: 5px !important; }
.pts, .pvs, .pas { padding-top: 10px !important; }
.ptm, .pvm, .pam { padding-top: 20px !important; }
.ptl, .pvl, .pal { padding-top: 40px !important; }
.pth, .pvh, .pah { padding-top: 80px !important; }
.prn, .phn, .pan { padding-right: 0px !important; }
.prt, .pht, .pat { padding-right: 5px !important; }
.prs, .phs, .pas { padding-right: 10px !important; }
.prm, .phm, .pam { padding-right: 20px !important; }
.prl, .phl, .pal { padding-right: 40px !important; }
.prh, .phh, .pah { padding-right: 80px !important; }
.pbn, .pvn, .pan { padding-bottom: 0px !important; }
.pbt, .pvt, .pat { padding-bottom: 5px !important; }
.pbs, .pvs, .pas { padding-bottom: 10px !important; }
.pbm, .pvm, .pam { padding-bottom: 20px !important; }
.pbl, .pvl, .pal { padding-bottom: 40px !important; }
.pbh, .pvh, .pah { padding-bottom: 80px !important; }
.pln, .phn, .pan { padding-left: 0px !important; }
.plt, .pht, .pat { padding-left: 5px !important; }
.pls, .phs, .pas { padding-left: 10px !important; }
.plm, .phm, .pam { padding-left: 20px !important; }
.pll, .phl, .pal { padding-left: 40px !important; }
.plh, .phh, .pah { padding-left: 80px !important; }
.mtn, .mvn, .man { margin-top: 0px !important; }
.mtt, .mvt, .mat { margin-top: 5px !important; }
.mts, .mvs, .mas { margin-top: 10px !important; }
.mtm, .mvm, .mam { margin-top: 20px !important; }
.mtl, .mvl, .mal { margin-top: 40px !important; }
.mth, .mvh, .mah { margin-top: 80px !important; }
.mrn, .mhn, .man { margin-right: 0px !important; }
.mrt, .mht, .mat { margin-right: 5px !important; }
.mrs, .mhs, .mas { margin-right: 10px !important; }
.mrm, .mhm, .mam { margin-right: 20px !important; }
.mrl, .mhl, .mal { margin-right: 40px !important; }
.mrh, .mhh, .mah { margin-right: 80px !important; }
.mbn, .mvn, .man { margin-bottom: 0px !important; }
.mbt, .mvt, .mat { margin-bottom: 5px !important; }
.mbs, .mvs, .mas { margin-bottom: 10px !important; }
.mbm, .mvm, .mam { margin-bottom: 20px !important; }
.mbl, .mvl, .mal { margin-bottom: 40px !important; }
.mbh, .mvh, .mah { margin-bottom: 80px !important; }
.mln, .mhn, .man { margin-left: 0px !important; }
.mlt, .mht, .mat { margin-left: 5px !important; }
.mls, .mhs, .mas { margin-left: 10px !important; }
.mlm, .mhm, .mam { margin-left: 20px !important; }
.mll, .mhl, .mal { margin-left: 40px !important; }
.mlh, .mhh, .mah { margin-left: 80px !important; }


