---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="media mbm">
    <div class="pull-left">
      <img class="media-object img-circle" src="{{ site.url }}{{ site.baseurl }}/images/icons/fish.jpg">
    </div>
    <div class="media-body">
      <div class="media">
        Cá đá
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      </div>
    </div>
  </div>
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer>
    Got something to say? Write to me at <a href="mailto:saltysealion@gmail.com?Subject=Hello%20again">saltysealion@gmail.com</a>
  </footer>

</article>
